.cart-inner {
  border: 2px solid #ddd;
  padding: 20px;
  border-bottom: 5px solid #ccc;
  margin-top: 10px;
}
.cart-number {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}
.cart-para {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}
