.header-container {
  text-align: center;
}
.logo img {
  height: 150px;
}
.project-title {
  font-size: 32px;
  font-weight: 700;
  margin: 0;
  padding: 5px;
  text-transform: capitalize;
}
.header-para {
  padding: 10px;
  width: 60%;
  display: inline-block;
}
